body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #282f3c;
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ W3', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .05em;
  background: #f9fafc;
}

/* タイトル */

.faq-wrapper {
  text-align: center;
  margin: 0 35px;
}

.title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.title-area:before {
  content: "";
  display: block;
  position: absolute;
  top: 28px;
  height: 6px;
  width: 64px;
  background-color: #ff4147;
}

.informal-logo {
  width: 80px;
  height: 80px;
}

.title {
  font-size: 38px;
  font-weight: 900;
}

.update-at {
  font-size: 12px;
  font-weight: 300;
  margin-left: 5px;
  color: #666;
}

.sub-title {
  font-size: 15px;
  margin: 0 0 30px;
}

/* カテゴリー */
.category-section {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.category-link {
  position: relative;
  padding: 4px 20px;
  padding-right: 36px;
  font-weight: 600;
  color: #ff8201;
  border-right: 2px solid #dde0e7;
  cursor: pointer;
  transition: .4s ease;
}

.category-link:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 8px;
  height: 8px;
  border: 3px solid #ff8201;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}

.category-link:first-of-type {
  border-left: 2px solid #dde0e7;
}

.btn {
  position: absolute;
  top: 50%;
  right: 36px;
}
.btn span {
  position: absolute;
  display: block;
  top: 50%;
  width: 16px;
  height: 2px;
  background: #ff8200;
  transition: .4s ease;
}

/* FAQ */
.section {

}

.section h2 {
  font-size: 26px;
  font-weight: 900;
}

.item {
  border-radius: 8px;
  background: #fff;
  box-shadow: 6px 10px 12px 0px rgb(40 47 60 / 5%);
  cursor: pointer;
  transition: .4s ease;
  margin-bottom: 22px;
}
.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  padding: 20px 40px 20px 24px;
}

.question-ico {
  padding-right: 20px;
}
.answer {}
.answer-text {
  text-align: left;
  position: relative;
  padding: 20px 40px 20px 24px;
}
.answer-ico {

}



/* スライダー */
.slider {
  width: 50%;
  margin: 0 auto;
}

.slider img {
  border: 1px solid black;
}

.slider .slick-slide {
  transform: scale(0.8);
  /*左右の画像のサイズを80%に*/
  transition: all .5s;
  /*拡大や透過のアニメーションを0.5秒で行う*/
  opacity: 0.5;
  /*透過50%*/
}

.slider .slick-slide.slick-center {
  transform: scale(1);
  /*中央の画像のサイズだけ等倍に*/
  opacity: 1;
  /*透過なし*/
}


/*矢印の設定*/

/*戻る、次へ矢印の位置*/
.slick-prev,
.slick-next {
  position: absolute;
  /*絶対配置にする*/
  top: 42%;
  cursor: pointer;
  /*マウスカーソルを指マークに*/
  outline: none;
  /*クリックをしたら出てくる枠線を消す*/
  border-top: 2px solid #666;
  /*矢印の色*/
  border-right: 2px solid #666;
  /*矢印の色*/
  height: 15px;
  width: 15px;
}

.slick-prev {
  /*戻る矢印の位置と形状*/
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  /*次へ矢印の位置と形状*/
  right: -1.5%;
  transform: rotate(45deg);
}

/*ドットナビゲーションの設定*/

.slick-dots {
  text-align: center;
  margin: 20px 0 0 0;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width: 15px;
  /*ドットボタンのサイズ*/
  height: 15px;
  /*ドットボタンのサイズ*/
  display: block;
  border-radius: 50%;
  /* background:#ccc; */
}

.slick-dots .slick-active button {
  background: #333;
  /*ドットボタンの現在地表示の色*/
}