body {
  margin: 0;
  padding: 0;
  color: #282f3c;
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ W3', 'ヒラギノ角ゴ Pro W3', 'Meiryo UI', 'メイリオ', 'MS PGothic', sans-serif;
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: .05em;
  background: #f9fafc;
}

/* 文字 */
.emphasis {
  color:#ff4147;
  font-weight: bold;
}


/* タイトル */

.faq-wrapper {
  text-align: center;
  margin: 0 35px;
}
@media screen and (max-width: 520px) {
  .faq-wrapper {
    margin: 0 10px;
  }
}

.title-area {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.title-area:before {
  content: "";
  display: block;
  position: absolute;
  top: 28px;
  height: 6px;
  width: 64px;
  background-color: #ff4147;
}

.informal-logo {
  width: 80px;
  height: 80px;
}

.title {
  font-size: 38px;
  font-weight: 900;
}

@media screen and (max-width: 520px) {
  .title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 32px;
  }

  .informal-logo {
    width: 50px;
    height: 50px;
  }
}

.sub-title {
  font-size: 15px;
  margin: 0 0 30px;
}
.sub-title a {
  color: #282f3c;
  letter-spacing: 0.1em;
}
.sub-title a:hover {
  opacity: 0.8;
}
@media screen and (max-width: 520px) {
  .sub-title a {
    font-size: 12px;
  }
}

/* カテゴリー */

.category-section {
  display: flex;
  justify-content: center;
  margin-bottom: 64px;
}
.category-section a {
  text-decoration: none;
}
.category-link {
  position: relative;
  padding: 4px 20px;
  padding-right: 36px;
  font-weight: 600;
  color: #ff8201;
  border-right: 2px solid #dde0e7;
  cursor: pointer;
  transition: .4s ease;
}
.category-link:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 8px;
  height: 8px;
  border: 3px solid #ff8201;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}
.category-link:first-of-type {
  border-left: 2px solid #dde0e7;
}
.btn {
  position: absolute;
  top: 50%;
  right: 36px;
}
.btn span {
  position: absolute;
  display: block;
  top: 50%;
  width: 16px;
  height: 2px;
  background: #ff8200;
  transition: .4s ease;
}
@media screen and (max-width: 520px) {
  .category-section {
    flex-wrap: wrap;
  }
  .category-link {
    width: 30%;
    border-left: 2px solid #dde0e7;
    margin: 5px;
    font-size: 12px;
  }
}
@media screen and (max-width: 370px) {
  .category-section {
    margin-bottom: 30px;
  }
  .category-link {
    width: 100%;
  }
}
/* FAQ */
.section h2 {
  font-size: 26px;
  font-weight: 900;
}

.item {
  border-radius: 8px;
  background: #fff;
  box-shadow: 6px 10px 12px 0px rgb(40 47 60 / 5%);
  transition: .4s ease;
  max-width: 960px;
  margin: 0 auto 22px;
}
.item:hover {
  box-shadow: 6px 10px 12px 0px rgb(40 47 60 / 10%);
}
details span:first-child {
  transform: rotate(90deg);
}
details[open] span:first-child {
  transform: rotate(0deg);
}
details[open] .answer {
  animation: fadeIn 0.5s ease;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}

.question {
  display: flex;
  align-items: flex-start;
  position: relative;
  padding: 20px 40px 20px 24px;
  cursor: pointer;
  text-align: left;
}

.question-ico {
  padding-right: 20px;
}

.answer-inner {
  display: flex;
  align-items: flex-start;
  padding: 20px 45px 20px 24px;
}
.answer-ico {
  padding-right: 20px;
}
.answer-text {
  text-align: left;
  line-height: 20px;
}
.answer-text p:first-child {
  margin-top: 0;
}
.answer-img {
  width: 50%;
  margin-bottom: 20px;
}
@media screen and (max-width: 520px) {
  .answer-img {
    width: 90%;
  }
}

/* スライダー */
.slider {
  width: 80%;
  margin: 0 auto;
}

.slider img {
  border: 1px solid #282f3c;
  max-width: 500px;
}

.slider .slick-slide {
  transform: scale(0.9);
  transition: all .5s;
}

.slider .slick-slide.slick-center {
  transform: scale(1); /*中央の画像のサイズだけ等倍に*/
  opacity: 1;
}
@media screen and (max-width: 520px) {
  .slider {
    width: 90%;
    padding: 0;
  }
  .slider img {
    object-fit: cover;
    border: none;
  }
}

/* 矢印の設定 */
.slick-prev,
.slick-next {
  position: absolute;
  top: 0;
  cursor: pointer;
  z-index: 2;
  outline: none;
  height: 400px;
  width: 200px;
  font-size: 50px;
  opacity: 0.5;
}
.slick-prev i,
.slick-next i {
  color: #ff8200;
  position: absolute;
  top: 170px;
}

.slick-prev {
  left: -1.5%;
  display: flex;
}
.slick-prev:hover {
  opacity: 0.8;
}
.slick-next {
  right: -1.5%;
  display: flex;
  justify-content: flex-end;
}
.slick-next:hover {
  opacity: 0.8;
}

/*ドットナビゲーションの設定*/
.slick-dots {
  text-align: center;
  opacity: 0.5;
}

.slick-dots li {
  display: inline-block;
  margin: 0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  border: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background:#ccc;
  margin-bottom: 20px;
}
.slick-dots .slick-active button {
  background: #ff8200;
}
/* video */
.video {
  width: 60%;
  margin-bottom: 20px;
}
@media screen and (max-width: 520px) {
  .video {
    width: 90%;
  }
}
/* フッター */
.footer {
  height: 100px;
}
